# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg

# ==============================
# Virtual Environment
# ==============================
venv/
.venv/
env/
ENV/

# ==============================
# Jupyter
# ==============================
.ipynb_checkpoints/

# ==============================
# IDEs
# ==============================
.vscode/
.idea/

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Logs
# ==============================
*.log

# ==============================
# ML Models
# ==============================
*.keras
*.h5
*.hdf5
*.ckpt
checkpoint

# ==============================
# Dataset
# ==============================
dataset/
data/
*.zip

# ==============================
# TensorBoard
# ==============================
logs/

# ==============================
# Cache
# ==============================
.cache/

# ==============================
# Build Files
# ==============================
build/
dist/

# ==============================
# Misc
# ==============================
*.tmp